<%= form_tag( friend_path, method: "post") do %>
    <div class="form-group">
    <%= text_field_tag(:title, nil,placeholder: "email", class:"form-control") %>
    </div>
    
    <%= submit_tag("search",class:"btn btn-success  btn-block") %>
  <% end %>